body {
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(back.jpg);
    min-height:120vh;
}

body::after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
  }

@font-face {
    font-family: Cream; 
    src: url('CaviarDreams.ttf'); 
} 

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: burlywood;
color: white;
}

h1.bean {
    padding-top: 10px;
    text-align: center;
    font-family: "Cream";
    font-size: 70px;
    padding: none;
    margin-bottom: -20px;
    margin-top: 4px;
}

h2.bean{
    font-family: "Cream";
    text-align: center;
    padding: none;
    margin: none;
    color: #04AA6D;
}

.pad {
    padding-left: 6px;
    margin-left: 6px;
}

.button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #04AA6D;
}

.wrapper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    margin: 5px;
    clear: left;
    padding: 10px;
    box-shadow: #333;
    border: 2px solid black;
    background-image: url("background.jpg");
    color: black;
    text-shadow: 1px 1px #646464;
    font-size: 18px;
}

.boxalt{
    margin: 5px;
    clear: left;
    padding: 10px;
    box-shadow: #333;
    border: 2px solid black;
    background-color: black;
    color: white;
    text-shadow: 1px 1px #646464;
    font-size: 10px;
    height: 100px;
    margin:0;
    display: flex;
    align-items: center;
}

.center{
    margin-top: 10px;
    text-align: center;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#arrow-pointer {
    width: 92.8vw;
    height: 150px;
    background: linear-gradient(90deg,#7eb4e2,#32557f);
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      left: 0; bottom: 0; width: 0; height: 0;
      border-left: 75px solid #7eb4e2;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
    }
  
    &:before {
      content: '';
      position: absolute;
      right: -74.5px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 75px solid #32557f;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
    }

}

.arrow-pointerp{
    max-width: 90%;
    padding-top: 15px;
    padding-left: 50px;
    margin-bottom: none;
}

#revarrow-pointer {
    width: 92.8vw;
    height: 150px;
    background: linear-gradient(90deg,#e85d04,#d00000);
    position: relative;
    margin-left: 75px;
  
    &:before {
      content: '';
      position: absolute;
      left: 0; bottom: 0; width: 0; height: 0;
      left: -74.5px;
      border-right: 75px solid #e85d04;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
    }
  
    &:after {
      content: '';
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 75px solid #d00000;
      border-top: 75px solid transparent;
      border-bottom: 75px solid transparent;
    }

}

.revarrow-pointerp{
    max-width: 70%;
    padding-top:15px;
    padding-bottom: 15px;
    margin-bottom: none;
    padding-left: 10px;
}

#arrow-pointer ol{
    padding-left: 100px;
}

.aaa{
    padding-left: 80px;
    padding-top: 0;
    margin-top: -15px;
}

dialog { 
    display: block;
    box-shadow: 10px 10px;
    max-height: 200px;
    padding-bottom: 25px;
}

dialog:not(:target):not([open]) { display: none; }